@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tours of the Layton Temple Site</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">the Utah Layton Temple </a>.</p>
</div>



<!--Display a picture of the temple-->
<div class="text-center">
<br />
<img id="rio" width="700px" height="500px" src="img/templepic.jpeg" />
<br />
<br />
<br />
</div>

<!-- Sign Up buttons-->
<div class="text-center">
    <a class="btn btn-primary" href="">Sign Up</a>
</div>

