<!-- Author IS GANG
    This is wthe home page for our reservation website
    -->


@{
    // Set the title of the tab
    ViewData["Title"] = "Layton Temple Tours";
}

<!-- Title and link for more information-->
<div class="text-center">
    <h1 class="display-4">Tours of the Layton Temple Site</h1>
    <p>Learn about <a href="https://churchofjesuschristtemples.org/layton-utah-temple/">the Utah Layton Temple </a>.</p>
</div>



<!--Display a picture of the temple-->
<div class="text-center">
    <br />
    <img id="rio" width="700px" height="500px" src="img/templepic.jpeg" />
    <br />
    <br />
    <br />
</div>

<!-- Sign Up buttons-->
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="SignUp">Sign Up</a>
</div>
<br />


<!--Information-->
<h5>History of the Layton Temple</h5>
<p>
    The Layton Utah Temple will be the nineteenth temple built in Utah and the second built in Davis County,
    following the Bountiful Utah Temple (1995).The groundbreaking ceremony for the Layton Utah Temple, which had originally been scheduled for Saturday, May 30, 2020, was
    held one week early without advance public notice. In a statement issued later that day, Church spokesperson Irene Caso said:
    "Due to the ongoing COVID-19 pandemic and the need to limit public gatherings, leaders of The Church of Jesus Christ of Latter-day
    Saints determined a traditional groundbreaking for the Layton Utah Temple, with invited guests, was not prudent.
    The First Presidency assigned the Utah Area Presidency to conduct a small-scale groundbreaking, held Saturday, May 23,
    so that construction could proceed."3 A video of the service was released online the following Saturday on the originally
    scheduled groundbreaking date.
</p>

<!--Credit to the church site-->
<h6>Text from: https://churchofjesuschristtemples.org</h6>